<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">ClimApp</a>
    <form class="d-flex" role="search">
      <a 
          routerLink="/home"
          class="btn btn-outline-success" 
      > 
          English
      </a>
      <a 
          routerLink="/homeEs"
          class="btn btn-outline-success" 
      > 
          Spanish
      </a>
      <a 
          href="https://portfoliovs.netlify.app" 
          target="_blank"
          class="btn btn-outline-success" 
      > 
          About Us! 
      </a>
    </form>
  </div>
</nav>
<div class="imagen" style='background-image: url({{background}});'>
<div class="container p-4" style="background: none;">
    <div class="row" style="background: none;">
      <h1>Country Codes</h1>
      <div class="col-md-6" style="background: none;">
        <div class="card card-body" style="margin: auto; background-color: rgba(255, 255, 255, .5);">
            <li>AQ	Antártida</li>
            <li>AD	Andorra</li>
            <li>AE	Emiratos Árabes Unidos</li>
            <li>AF	Afganistán</li>
            <li>AI	Anguila</li>
            <li>AG	Antigua y Barbuda</li>
            <li>AL	Albania</li>
            <li>AM	Armenia</li>
            <li>AO	Angola</li>
            <li>AR	Argentina</li>
            <li>AN	Antillas Neerlandesas</li>
            <li>AS	Samoa Americana</li>
            <li>AT	Austria</li>
            <li>AU	Australia</li>
            <li>AW	Aruba</li>
            <li>AX	Islas Áland</li>
            <li>AZ	Azerbaiyán</li>
            <li>BA	Bosnia y Herzegovina</li>
            <li>BB	Barbados</li>
            <li>BD	Bangladesh</li>
            <li>BE	Bélgica</li>
            <li>BF	Burkina Faso</li>
            <li>BG	Bulgaria</li>
            <li>BH	Bahréin</li>
            <li>BI	Burundi</li>
            <li>BJ	Benin</li>
            <li>BL	San Bartolomé</li>
            <li>BM	Bermudas</li>
            <li>BN	Brunéi</li>
            <li>BO	Bolivia</li>
            <li>BR	Brasil</li>
            <li>BS	Bahamas</li>
            <li>BT	Bhután</li>
            <li>BV	Isla Bouvet</li>
            <li>BW	Botsuana</li>
            <li>BY	Belarús	112</li>
            <li>BZ	Belice</li>
            <li>CA	Canadá</li>
            <li>CC	Islas Cocos</li>
            <li>CF	República Centro-Africana</li>
            <li>CG	Congo</li>
            <li>CH	Suiza</li>
            <li>CI	Costa de Marfil</li>
            <li>CK	Islas Cook</li>
            <li>CL	Chile</li>
            <li>CM	Camerún</li>
            <li>CN	China</li>
            <li>CO	Colombia</li>
            <li>CR	Costa Rica</li>
            <li>CU	Cuba</li>
            <li>CV	Cabo Verde</li>
            <li>CX	Islas Christmas</li>
            <li>CY	Chipre</li>
            <li>CZ	República Checa</li>
            <li>DE	Alemania</li>
            <li>DJ	Yibuti</li>
            <li>DK	Dinamarca</li>
            <li>DM	Domínica</li>
            <li>DO	República Dominicana</li>
            <li>DZ	Argel</li>
            <li>EC	Ecuador</li>
            <li>EE	Estonia</li>
            <li>EG	Egipto</li>
            <li>EH	Sahara Occidental</li>
            <li>ER	Eritrea</li>
            <li>ES	España</li>
            <li>ET	Etiopía</li>
            <li>FI	Finlandia</li>
            <li>FJ	Fiji</li>
            <li>FK	Islas Malvinas</li>
            <li>FM	Micronesia</li>
            <li>FO	Islas Faroe</li>
            <li>FR	Francia</li>
            <li>GA	Gabón	266</li>
            <li>GB	Reino Unido</li>
            <li>GD	Granada</li>
            <li>GE	Georgia</li>
            <li>GF	Guayana Francesa</li>
            <li>GG	Guernsey</li>
            <li>GH	Ghana</li>
            <li>GI	Gibraltar</li>
            <li>GL	Groenlandia</li>
            <li>GM	Gambia</li>
            <li>GN	Guinea</li>
            <li>GP	Guadalupe</li>
            <li>GQ	Guinea Ecuatorial</li>
            <li>GR	Grecia</li>
            <li>GS	Georgia del Sur e Islas Sandwich del Sur</li>
            <li>GT	Guatemala</li>
            <li>GU	Guam</li>
            <li>GW	Guinea-Bissau</li>
            <li>GY	Guayana</li>
            <li>HK	Hong Kong</li>
            <li>HN	Honduras</li>
            <li>HR	Croacia</li>
            <li>HT	Haití</li>
            <li>HU	Hungría</li>
            <li>ID	Indonesia</li>
            <li>IE	Irlanda</li>
            <li>IL	Israel</li>
            <li>IM	Isla de Man</li>
            <li>IN	India</li>
            <li>IQ	Irak</li>
            <li>IR	Irán</li>
            <li>IS	Islandia</li>
            <li>IT	Italia</li>
            <li>JE	Jersey</li>
            <li>JM	Jamaica</li>
            <li>JO	Jordania</li>
            <li>JP	Japón</li>
            <li>KE	Kenia</li>
            <li>KG	Kirguistán</li>
            <li>KH	Camboya</li>
            <li>KI	Kiribati</li>
            <li>KM	Comoros</li>
            <li>KN	San Cristóbal y Nieves</li>
            <li>KP	Corea del Norte</li>
            <li>KR	Corea del Sur</li>
            <li>KW	Kuwait</li>
            
        </div>
      </div>
      <div class="col-md-6" style="background: none;" >
        <div class="card card-body" style="margin: auto; background-color: rgba(255, 255, 255, .5);">
        <li>KY	Islas Caimán</li>
            <li>KZ	Kazajstán</li>
            <li>LA	Laos</li>
            <li>LB	Líbano</li>
            <li>LC	Santa Lucía</li>
            <li>LI	Liechtenstein</li>
            <li>LK	Sri Lanka</li>
            <li>LR	Liberia</li>
            <li>LS	Lesotho</li>
            <li>LT	Lituania</li>
            <li>LU	Luxemburgo</li>
            <li>LV	Letonia</li>
            <li>LY	Libia</li>
            <li>MA	Marruecos</li>
            <li>MC	Mónaco</li>
            <li>MD	Moldova</li>
            <li>ME	Montenegro</li>
            <li>MG	Madagascar</li>
            <li>MH	Islas Marshall</li>
            <li>MK	Macedonia</li>
            <li>ML	Mali</li>
            <li>MM	Myanmar</li>
            <li>MN	Mongolia</li>
            <li>MO	Macao</li>
            <li>MQ	Martinica</li>
            <li>MR	Mauritania</li>
            <li>MS	Montserrat</li>
            <li>MT	Malta</li>
            <li>MU	Mauricio</li>
            <li>MV	Maldivas</li>
            <li>MW	Malawi</li>
            <li>MX	México</li>
            <li>MY	Malasia</li>
            <li>MZ	Mozambique</li>
            <li>NA	Namibia</li>
            <li>NC	Nueva Caledonia</li>
            <li>NE	Níger</li>
            <li>NF	Islas Norkfolk</li>
            <li>NG	Nigeria</li>
            <li>NI	Nicaragua</li>
            <li>NL	Países Bajos</li>
            <li>NO	Noruega</li>
            <li>NP	Nepal</li>
            <li>NR	Nauru</li>
            <li>NU	Niue</li>
            <li>NZ	Nueva Zelanda</li>
            <li>OM	Omán</li>
            <li>PA	Panamá</li>
            <li>PE	Perú</li>
            <li>PF	Polinesia Francesa</li>
            <li>PG	Papúa Nueva Guinea</li>
            <li>PH	Filipinas	</li>
            <li>PK	Pakistán	</li>
            <li>PL	Polonia	</li>
            <li>PM	San Pedro y Miquelón	</li>
            <li>PN	Islas Pitcairn	</li>
            <li>PR	Puerto Rico	</li>
            <li>PS	Palestina</li>
            <li>PT	Portugal</li>
            <li>PW	Islas Palaos</li>
            <li>PY	Paraguay</li>
            <li>QA	Qatar</li>
            <li>RE	Reunión</li>
            <li>RO	Rumanía</li>
            <li>RS	Serbia y Montenegro</li>
            <li>RU	Rusia	</li>
            <li>RW	Ruanda</li>
            <li>SA	Arabia Saudita</li>
            <li>SB	Islas Solomón</li>
            <li>SC	Seychelles</li>
            <li>SD	Sudán</li>
            <li>SE	Suecia	</li>
            <li>SG	Singapur</li>
            <li>SH	Santa Elena</li>
            <li>SI	Eslovenia</li>
            <li>SJ	Islas Svalbard y Jan Mayen</li>
            <li>SK	Eslovaquia</li>
            <li>SL	Sierra Leona</li>
            <li>SM	San Marino</li>
            <li>SN	Senegal	</li>
            <li>SO	Somalia	</li>
            <li>SR	Surinam</li>
            <li>ST	Santo Tomé y Príncipe</li>
            <li>SV	El Salvador</li>
            <li>SY	Siria</li>
            <li>SZ	Suazilandia</li>
            <li>TC	Islas Turcas y Caicos</li>
            <li>TD	Chad	</li>
            <li>TF	Territorios Australes Franceses</li>
            <li>TG	Togo</li>
            <li>TH	Tailandia</li>
            <li>TH	Tanzania</li>
            <li>TJ	Tayikistán</li>
            <li>TK	Tokelau	</li>
            <li>TL	Timor-Leste</li>
            <li>TM	Turkmenistán</li>
            <li>TN	Túnez</li>
            <li>TO	Tonga</li>
            <li>TR	Turquía</li>
            <li>TT	Trinidad y Tobago</li>
            <li>TV	Tuvalu</li>
            <li>TW	Taiwán</li>
            <li>UA	Ucrania	</li>
            <li>UG	Uganda</li>
            <li>US	Estados Unidos</li>
            <li>UY	Uruguay	</li>
            <li>UZ	Uzbekistán</li>
            <li>VA	Ciudad del Vaticano</li>
            <li>VC	San Vicente y las Granadinas</li>
            <li>VE	Venezuela</li>
            <li>VG	Islas Vírgenes Británicas</li>
            <li>VN	Vietnam	</li>
            <li>VU	Vanuatu</li>
            <li>WF	Wallis y Futuna</li>
            <li>WS	Samoa	</li>
            <li>YE	Yemen</li>
            <li>YT	Mayotte</li>
            <li>ZA	Sudáfrica</li>
          </div>
      </div>
    </div>
</div>
<footer style="position: absolute;width: 100%;">
  <nav class="navbar bg-black">
    <div class="container-xxl justify-content-evenly">
      <p style="color:aqua;">© Valentin Sigaudo 2023</p>
        <a href="https://openweathermap.org" target="_blank"  class="btn btn-success">Data Source!</a>
    </div>
  </nav>
</footer>
</div>
